/*	SimpleGrid - a fork of CSSGrid by Crowd Favorite (https://github.com/crowdfavorite/css-grid)
 *	http://simplegrid.info
 *	by Conor Muirhead (http://conor.cc) of Early LLC (http://earlymade.com)	
 *  License: http://creativecommons.org/licenses/MIT/	*/

/* Containers */
body {
	font-size: 1.125em;
}

.gcc-grid {
	width: 1206px;
}

/* 6-Col Grid Sizes */
.gcc-slot-0,.gcc-slot-1,.gcc-slot-2,.gcc-slot-3,.gcc-slot-4,.gcc-slot-5
	{
	width: 176px;
} /* Sixths */
.gcc-slot-0-1,.gcc-slot-1-2,.gcc-slot-2-3,.gcc-slot-3-4,.gcc-slot-4-5 {
	width: 382px;
} /* Thirds */
.gcc-slot-0-1-2-3,.gcc-slot-1-2-3-4,.gcc-slot-2-3-4-5 {
	width: 794px;
} /* Two-Thirds */
.gcc-slot-0-1-2-3-4,.gcc-slot-1-2-3-4-5 {
	width: 1000px;
} /* Five-Sixths */

/* 4-Col Grid Sizes */
.gcc-slot-6,.gcc-slot-7,.gcc-slot-8,.gcc-slot-9 {
	width: 279px;
} /* Quarters */
.gcc-slot-6-7-8,.gcc-slot-7-8-9 {
	width: 897px;
} /* Three-Quarters */

/* 6-Col/4-Col Shared Grid Sizes */
.gcc-slot-0-1-2,.gcc-slot-1-2-3,.gcc-slot-2-3-4,.gcc-slot-3-4-5,.gcc-slot-6-7,.gcc-slot-7-8,.gcc-slot-8-9
	{
	width: 588px;
} /* Halves */