/*	SimpleGrid - a fork of CSSGrid by Crowd Favorite (https://github.com/crowdfavorite/css-grid)
 *	http://simplegrid.info
 *	by Conor Muirhead (http://conor.cc) of Early LLC (http://earlymade.com)	
 *  License: http://creativecommons.org/licenses/MIT/	*/

/* Containers */
body { font-size: 100%; padding: 0; }
.gcc-grid{ margin:0 auto; padding: 0 10px; width:966px; }
.gcc-row{ clear:left; }


/* Slots Setup */
.gcc-slot-0,.gcc-slot-1,.gcc-slot-2,.gcc-slot-3,.gcc-slot-4,.gcc-slot-5,.gcc-slot-0-1,.gcc-slot-0-1-2,.gcc-slot-0-1-2-3,.gcc-slot-0-1-2-3-4,.gcc-slot-0-1-2-3-4-5,.gcc-slot-1-2,.gcc-slot-1-2-3,.gcc-slot-1-2-3-4,.gcc-slot-1-2-3-4-5,.gcc-slot-2-3,.gcc-slot-2-3-4,.gcc-slot-2-3-4-5,.gcc-slot-3-4,.gcc-slot-3-4-5,.gcc-slot-4-5,.gcc-slot-6,.gcc-slot-7,.gcc-slot-8,.gcc-slot-9,.gcc-slot-6-7,.gcc-slot-6-7-8,.gcc-slot-6-7-8-9,.gcc-slot-7-8,.gcc-slot-7-8-9,.gcc-slot-8-9{ display:inline; float:left; margin-left:30px; }

/* 6-Col Grid Sizes */
.gcc-slot-0,.gcc-slot-1,.gcc-slot-2,.gcc-slot-3,.gcc-slot-4,.gcc-slot-5{ width:136px; } /* Sixths */
.gcc-slot-0-1,.gcc-slot-1-2,.gcc-slot-2-3,.gcc-slot-3-4,.gcc-slot-4-5{ width:302px; } /* Thirds */
.gcc-slot-0-1-2-3,.gcc-slot-1-2-3-4,.gcc-slot-2-3-4-5{ width:634px; } /* Two-Thirds */
.gcc-slot-0-1-2-3-4,.gcc-slot-1-2-3-4-5{ width:800px; } /* Five-Sixths */

/* 4-Col Grid Sizes */
.gcc-slot-6,.gcc-slot-7,.gcc-slot-8,.gcc-slot-9{ width:219px; } /* Quarters */
.gcc-slot-6-7-8,.gcc-slot-7-8-9{ width:717px; } /* Three-Quarters */

/* 6-Col/4-Col Shared Grid Sizes */
.gcc-slot-0-1-2,.gcc-slot-1-2-3,.gcc-slot-2-3-4,.gcc-slot-3-4-5, .gcc-slot-6-7,.gcc-slot-7-8,.gcc-slot-8-9{ width:468px; } /* Halves */
slot-0-1-2-3-4-5, .gcc-slot-6-7-8-9{ width: 100%; } /* Full-Width */

/* Zeroing Out Leftmost Slot Margins */
.gcc-slot-0,.gcc-slot-0-1,.gcc-slot-0-1-2,.gcc-slot-0-1-2-3,.gcc-slot-0-1-2-3-4,.gcc-slot-0-1-2-3-4-5,.gcc-slot-6,.gcc-slot-6-7,.gcc-slot-6-7-8,.gcc-slot-6-7-8-9,.gcc-slot-1 .gcc-slot-1,.gcc-slot-1-2 .gcc-slot-1,.gcc-slot-1-2 .gcc-slot-1-2,.gcc-slot-1-2-3 .gcc-slot-1,.gcc-slot-1-2-3 .gcc-slot-1-2,.gcc-slot-1-2-3 .gcc-slot-1-2-3,.gcc-slot-1-2-3-4 .gcc-slot-1,.gcc-slot-1-2-3-4 .gcc-slot-1-2,.gcc-slot-1-2-3-4 .gcc-slot-1-2-3,.gcc-slot-1-2-3-4 .gcc-slot-1-2-3-4,.gcc-slot-1-2-3-4-5 .gcc-slot-1,.gcc-slot-1-2-3-4-5 .gcc-slot-1-2,.gcc-slot-1-2-3-4-5 .gcc-slot-1-2-3,.gcc-slot-1-2-3-4-5 .gcc-slot-1-2-3-4,.gcc-slot-1-2-3-4-5 .gcc-slot-1-2-3-4-5,.gcc-slot-2 .gcc-slot-2,.gcc-slot-2-3 .gcc-slot-2,.gcc-slot-2-3 .gcc-slot-2-3,.gcc-slot-2-3-4 .gcc-slot-2,.gcc-slot-2-3-4 .gcc-slot-2-3,.gcc-slot-2-3-4 .gcc-slot-2-3-4,.gcc-slot-2-3-4-5 .gcc-slot-2,.gcc-slot-2-3-4-5 .gcc-slot-2-3,.gcc-slot-2-3-4-5 .gcc-slot-2-3-4,.gcc-slot-2-3-4-5 .gcc-slot-2-3-4-5,.gcc-slot-3 .gcc-slot-3,.gcc-slot-3-4 .gcc-slot-3,.gcc-slot-3-4 .gcc-slot-3-4,.gcc-slot-3-4-5 .gcc-slot-3,.gcc-slot-3-4-5 .gcc-slot-3-4,.gcc-slot-3-4-5 .gcc-slot-3-4-5,.gcc-slot-4 .gcc-slot-4,.gcc-slot-4-5 .gcc-slot-4,.gcc-slot-4-5 .gcc-slot-4-5,.gcc-slot-5 .gcc-slot-5,.gcc-slot-7 .gcc-slot-7,.gcc-slot-7-8 .gcc-slot-7,.gcc-slot-7-8 .gcc-slot-7-8,.gcc-slot-7-8-9 .gcc-slot-7,.gcc-slot-7-8-9 .gcc-slot-7-8,.gcc-slot-7-8-9 .gcc-slot-7-8-9,.gcc-slot-8 .gcc-slot-8,.gcc-slot-8-9 .gcc-slot-8,.gcc-slot-8-9 .gcc-slot-8-9{ margin-left:0 !important; } /* Important is to avoid repeating this in larger screen css files */

/* Row Clearfix */
.gcc-row:after{ visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0; }
.gcc-row{ zoom:1; }