html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font: inherit;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

body {
	margin-top: 1em;
	color: #444;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.5em;
}

ol,ul {
	margin: 0 0 0.5em;
	list-style: square;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

code {
	background-color: #f4f4f4;
	font-size: 0.875em;
	font-family: Menlo, Courier, monospace;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

strong {
	font-weight: bold;
}

p {
	margin: 0 0 0.5em;
	/*	max-width: 634px; */
	max-width: 80em;
}

h1,h2,h3,h4,h5,h6 {
	padding: 0.5em 0 0.25em;
	font-weight: normal;
	font-family: Geneva, Tahoma, sans-serif;
	line-height: 1.2em;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

h5,h6 {
	font-size: 1em;
}

a,a:link,a:visited {
	border-bottom: 1px solid #11bad3;
	color: #11bad3;
	text-decoration: none;
}

a:hover,a:active {
	border-color: #00a9c2;
	background: none;
	color: #0000ff;
}

img {
	max-width: 100%;
}

button {
	display: inline-block;
	margin: 0.5em 0;
	padding: 0.5em 0.75em;
	border-right: 1px solid #0087a0;
	border-bottom: 1px solid #0087a0;
	background: #11bad3;
	color: #fff;
	font-weight: bold;
	font-size: 1.2em;
	font-family: Geneva, Tahoma, sans-serif;
}

#gcc-logo {
	padding-bottom: 0;
	border: 0px;
	text-decoration: none;
}

.gcc-rmenu {
	text-align: right;
}

.gcc-lmenu {
	text-align: left;
}

.gcc-grid {
	padding: 0 20px;
}

.gcc-row {
	margin-bottom: 1em;
}

.gcc-social-logo {
	padding: 0 1px 0 1px;
	border: 0px;
	border-bottom: none;
	text-decoration: none;
}

.gcc-breadcrumbs {
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	max-width: none;
	border-top: 2px solid #aaa;
	border-bottom: 1px solid #ccc;
	background: #fcfcfc;
	background: linear-gradient(#fff, #fcfcfc);
	text-align: left;
}

.gcc-footer {
	margin: 0;
	padding: 1em 0 1em 0;
	max-width: none;
	background: #0055a4;
	color: #fff;
}

.gcc-footer a {
	color: #fff;
}

.gcc-footer a:hover,.gcc-footer a:active {
	border-color: #00a9c2;
	background: none;
	color: #ffffcc;
}
